# Ignore cached files
cache/
data/
results/
screenshots/

# Ignore Python cache and virtual environment
__pycache__/
venv/
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store